<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>Formulario Lenguajes SE</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <link type="text/css" th:href="@{/estiloForm.css}" rel="stylesheet"></link>
  <script type="text/javascript" th:src="@{/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/jquery.easing.min.js}"></script>
  <script type="text/javascript" th:src="@{/funciones.js}"></script>
</head>
<body>
	<div id="msform">
		
		<div class="fs">
			<h1 class="fs-title">Este es el lenguaje que te sugerimos:</h1>
			<div th:if="${#lists.isEmpty(lenguajes)}">
				<h2>No se puede recomendar ningún lenguaje de programación para su proyecto</h2>
			</div>
			
			<ul style="list-style: none;">
				<li th:each="lenguaje : ${lenguajes}">
					<br></br>
					<h2><span th:text="${lenguaje}"></span></h2>
				</li>
			</ul>
			
			<br></br>
			
		 	<a th:href="@{/se}" class="action-button2"> Volver</a>
		</div>
	</div>
</body>
</html>