<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>Formulario LenguajesSE</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <link type="text/css" th:href="@{/estiloForm.css}" rel="stylesheet"></link>
  <script type="text/javascript" th:src="@{/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/jquery.easing.min.js}"></script>
  <script type="text/javascript" th:src="@{/funciones.js}"></script>
</head>
<body>

	<div class="fs">
		<ul>
		<li th:each="lenguaje : ${lenguajes}">
			<span th:text="${lenguaje}"></span>
		</li>
	</ul>
	
	 <a th:href="@{/se}" class="next action-button"> Vuelve a intentarlo</a>
	</div>
	
</body>
</html>